<!-- <!DOCTYPE html>
<html >
	<head>
		<title> My Life</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="styles.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<header>
			<h1>Yoga - a union of mind and body</h1>
		</header> -->

		<main>
			<section>
				<article>
					<figure class="picture">
						<a href="Namaste.html"> <img src="Namaste.jpg" alt="Yoga"> </a>
						<figcaption>Namaste - I bow to you</figcaption>
					</figure>
					<p>
						If the spiritual traditions of yoga could be encapsulated in one word, it might be namasté. This Sanskrit word brings about the essence of oneness, and an understanding of the true nature of reality.
					</p>
				</article>
				<article>
					<figure class="picture">
						<img src="Yoga4.jpg" alt="Yoga" />
						<figcaption>Mindfullness</figcaption>
					</figure>
					<p>
						Meditation is used with the aim of reducing stress,
						anxiety, depression, and pain, and increasing peace,
						perception, self-concept, and well-being.
					</p>	
				</article>
				<article>
					<figure class="picture">
						<img src="Yoga3.jpg" alt="Yoga" />
						<figcaption>Union of the self with the nature</figcaption>
					</figure>
					<p>
						Takeaway: Yoga is more than the physical asanas we've come to know and love in yoga class. The true meaning of yoga is union with the Divine.
					</p>
				</article>
			</section>
			<aside>
					<h3>Yoga its Origin, history and Development</h3> 
					<p>A Brief History and Development of Yoga:</p>
 					<p>The practice of Yoga is believed to have started with the very dawn of civilization. The science of yoga has its origin thousands of years ago, long before the first religions or belief systems were born. In the yogic lore, Shiva is seen as the first yogi or Adiyogi, and the first Guru or Adi Guru.</p>
 					<video class="Arti" src="GangaArti.mp4"controls></video>
					<div class="Related resources">
						<h3>More to read</h3>
					</div>
						<ul>
							<li>
								<a title="Vedas" href="https://www.yogapedia.com/definition/5007/vedas" target="_blank">vedas</a>
							</li>
						</ul>
			</aside>
		</main>

		<!-- <footer>
			<p>
				footer
			</p>
		</footer>
	</body>
</html> -->
